<% provide(:title, "Log in") %>
<div class="panel panel-default">
<div class="panel-heading">Sign Up</div>

  <div class = 'form-group'>
    <%= form_for(:session, url: login_path) do |f| %>

      <div class='form-group'>
      <%= f.label :user_name,'User Name:',class: "col-sm-2 control-label"%>
        <div class="col-sm-10">
          <%= f.text_field :user_name,  class: 'form-control'%>
        </div>
     </div>

     <div class='form-group'>
      <%= f.label :password,'User Name:',class: "col-sm-2 control-label"%>
        <div class="col-sm-10">
          <%= f.password_field :password,  class: 'form-control'%>
        </div>
     </div>

     <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Log in " %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<hr>
<p>
  New user? <%= link_to "Sign up now!", root_url %>
</p> 

