<% provide(:title, 'Sign-up') %>
<br>&nbsp;
<h2>Sign Up </h2>
<div>
<table border = "0">
	<%= form_for(@user) do |f| %>
		<tr>
			<td><%= f.label :user_name %></td>
			<td><%= f.text_field :user_name %></td>
		</tr>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td><%= f.label 'Confirmation' %></td>
				<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<br><tr>
			<td><%= f.submit "Create Account" %></td>
			<td>&nbsp;&nbsp;<%= button_tag  "Reset", type: :reset %></td>
		</tr>
	<% end %>
</table>
</div>
<br>&nbsp;
<div>
Already Member ?
<%= link_to "Login", login_path %>
</div>