<p id="notice"><%= notice %></p>

<p>
  <strong>Isused:</strong>
  <%= @player_character.isUsed %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player_character.name %>
</p>

<p>
  <strong>Classdnd:</strong>
  <%= @player_character.classDnD %>
</p>

<p>
  <strong>Level:</strong>
  <%= @player_character.level %>
</p>

<p>
  <strong>Background:</strong>
  <%= @player_character.background %>
</p>

<p>
  <strong>Race:</strong>
  <%= @player_character.race %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @player_character.alignment %>
</p>

<p>
  <strong>Experiencepoints:</strong>
  <%= @player_character.experiencePoints %>
</p>

<p>
  <strong>Inspiration:</strong>
  <%= @player_character.inspiration %>
</p>

<p>
  <strong>Proficiencybonus:</strong>
  <%= @player_character.proficiencyBonus %>
</p>

<p>
  <strong>Armorclass:</strong>
  <%= @player_character.armorClass %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @player_character.initiative %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @player_character.speed %>
</p>

<p>
  <strong>Currenthitpoints:</strong>
  <%= @player_character.currentHitPoints %>
</p>

<p>
  <strong>Maxhitpoints:</strong>
  <%= @player_character.maxHitPoints %>
</p>

<p>
  <strong>Temporaryhitpoints:</strong>
  <%= @player_character.temporaryHitPoints %>
</p>

<p>
  <strong>Totalhitdice:</strong>
  <%= @player_character.totalHitDice %>
</p>

<p>
  <strong>Hitdice:</strong>
  <%= @player_character.hitDice %>
</p>

<p>
  <strong>Deathsavesuccesses:</strong>
  <%= @player_character.deathSaveSuccesses %>
</p>

<p>
  <strong>Deathsavefailures:</strong>
  <%= @player_character.deathSaveFailures %>
</p>

<p>
  <strong>Personalitytraits:</strong>
  <%= @player_character.personalityTraits %>
</p>

<p>
  <strong>Ideals:</strong>
  <%= @player_character.ideals %>
</p>

<p>
  <strong>Bonds:</strong>
  <%= @player_character.bonds %>
</p>

<p>
  <strong>Flaws:</strong>
  <%= @player_character.flaws %>
</p>

<p>
  <strong>Attacksdescription:</strong>
  <%= @player_character.attacksDescription %>
</p>

<p>
  <strong>Passivewisdom:</strong>
  <%= @player_character.passiveWisdom %>
</p>

<p>
  <strong>Otherproficienciesandlanguages:</strong>
  <%= @player_character.otherProficienciesAndLanguages %>
</p>

<p>
  <strong>Maxequipmentcarrycapacity:</strong>
  <%= @player_character.maxEquipmentCarryCapacity %>
</p>

<p>
  <strong>Currentequipmentcarrycapacity:</strong>
  <%= @player_character.currentEquipmentCarryCapacity %>
</p>

<p>
  <strong>Featuresandtraits:</strong>
  <%= @player_character.featuresAndTraits %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player_character.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @player_character.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @player_character.weight %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @player_character.eyes %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @player_character.skin %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @player_character.hair %>
</p>

<p>
  <strong>Characterappearance:</strong>
  <%= @player_character.characterAppearance %>
</p>

<p>
  <strong>Characterbackstory:</strong>
  <%= @player_character.characterBackstory %>
</p>

<p>
  <strong>Additionalfeaturesandtraits:</strong>
  <%= @player_character.additionalFeaturesAndTraits %>
</p>

<p>
  <strong>Treasure:</strong>
  <%= @player_character.treasure %>
</p>

<p>
  <strong>Spellcastingability:</strong>
  <%= @player_character.spellCastingAbility %>
</p>

<p>
  <strong>Spellsavedc:</strong>
  <%= @player_character.spellSaveDC %>
</p>

<p>
  <strong>Spellattackbonus:</strong>
  <%= @player_character.spellAttackBonus %>
</p>

<%= link_to 'Edit', edit_player_character_path(@player_character) %> |
<%= link_to 'Back', player_characters_path %>
