<% provide(:title, "Game-Add") %>
<h2>New Game</h2>
<% if @game.errors.any? %>
<div id="errors">
      <% @game.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
</div>
<% end %>
<div>
	<%= form_for(@game) do |f| %>
		<ul>
			<li><%= f.label :name,'Game Name:'%></br>
				<%= f.text_field :name %>
			</li>
			<li><%= f.label :game_password,'Game Password:'%></br>
				<%= f.text_field :game_password %>
			</li>
			<li><%= f.label :map, 'Game Map:' %></br>
				<!--<%= f.text_field :map%>-->
				<%= f.file_field :map %>
			</li>
			<li><%= f.label :game_history,'Game History:' %></br>
				<%= f.text_field :game_history %>
			</li>
		</ul>
		<%= f.submit "Create Game" %>&nbsp;<%= button_tag "Reset", type: :reset %>
	<% end %>
</div>	
<hr>
<%= link_to "Go to User Home page",user_path(current_user) %>