<% provide(:title, 'Achievements') %>

<h4>Achievements</h4>
<%= form_for(@achievement) do |f| %>

	<table class = "table">
		
		<tr>
			<td> <%= f.label :player_name %> <%= f.hidden_field :user_name, :value => PlayerCharacter.find(1).name %></td>
			<td><%= PlayerCharacter.find(1).name %></td>

		</tr>
		<tr>
			<td><%= f.label :game_name %><%= f.hidden_field :game_name, :value => Game.find(1).name %> </td>
			<td><%= Game.find(1).name %></td>
		</tr>
		<tr>
			<td><%= f.label :description %></td>
			<td><%= f.text_area :description, :size=>"95x5" %></td>
		</tr>
	</table>
		 
		<p>
   			<%= f.submit "Submit" %>
		</p>
<% end %>

